<center>
  <h1 class="title">Pictures一覧</h1>
  <div class="contents">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-4 col-md-offset-1 col-md-1">投稿者</div>
        <div class="col-xs-4 col-md-1">タイトル</div>
        <div class="col-xs-4 col-md-1" >内容</div>
        <div class="col-xs-4 col-md-1" >画像</div>
        <div class="visible-lg-block visible-md-block visible-sm-block col-xs-6 col-md-offset-2 col-md-1">投稿者</div>
        <div class="visible-lg-block visible-md-block visible-sm-block col-xs-6 col-md-1">タイトル</div>
        <div class="visible-lg-block visible-md-block visible-sm-block col-xs-6 col-md-1" >内容</div>
         <div class="visible-lg-block visible-md-block visible-sm-block col-xs-6 col-md-1" >画像</div>
        <% @picture.each do |picture| %>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="col-xs-6 col-md-offset-2 col-lg-offset-2 col-md-2 col-lg-2"><%= picture.user.name %></div>
          <div class="col-xs-6 col-md-2 col-lg-2"><%= picture.title %></div>
          <div class="col-xs-6 col-md-2 col-lg-2"><%= picture.content %></div>
          <div class="pictureimage col-xs-6 col-md-2 col-lg-2"><%= image_tag(picture.image.url) if picture.image.url %></div>
          <div class="btn btn-group" role="group" aria-label="...">
            <% if logged_in? %>
              <% if picture.user_id == current_user.id %>
                <div type="button" class="btn btn-default col-md-offset-2 col-lg-offset-2 col-xs-4 col-md-3 col-lg-3"><%= link_to '確認', picture_path(picture.id) %></div>
                <div type="button" class="btn btn-default col-xs-4 col-md-3 col-lg-3"><%= link_to "編集", edit_picture_path(picture.id), data: { confirm: '本当に編集していいですか？' } %></div>
                <div type="button" class="btn btn-default col-xs-4 col-md-3 col-lg-3"><%= link_to '削除', picture_path(picture.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></div>
              <% else %>
                <div type="button" class="btn btn-default col-md-offset-2 col-lg-offset-2 col-xs-5 col-md-4 col-lg-4"><%= link_to '確認', picture_path(picture.id) %></div>
                <div class="col-xs-5 col-md-5 col-lg-5" ></div>
                <div class="col-xs-5 col-md-5 col-lg-5"></div>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="ce btn btn-default col-xs-12 col-md-offset-5 col-md-2"><%= link_to '投稿', new_picture_path %></div>
</center>
